@use 'custom' as *;

#main-section {
  padding: 70px 0;

  #sidebar{
    position: -webkit-sticky;
    position: sticky;
    top: 2%;
  }

  .side-nav {
    

    h4 {
      font-size: 20px;
      font-family: 'Inter', sans-serif;
    }

    ul {
      
      list-style-type: none;
      padding: 5px 0;
    
      li a{
        color: #31549F;
      }
    }
  }

  .content {
    margin-top: 0;

    h2 {
      font-family: 'Inter', sans-serif;
      font-size: 40px;
      font-weight: bold;
    }
    
    p {
      font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      color: #303030;
    }

    h3 {
      font-family: 'Inter', sans-serif;
      font-size: 28px;
      font-weight: bold;
      
    }

    .code-area{
      width: 100%;
      background: #f3f3f3;
      padding: 10px 0 10px 13px;
      border-left: 7px $orange solid;
    }
  }
}